<a href="https://colab.research.google.com/github/hayeon727/2020_Core_Study/blob/main/20201013_%ED%8A%9C%ED%84%B0%EB%A7%81_2%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = int(input())

3

In [3]:
print(a)

3

In [4]:
type(a)

int

In [5]:
for i in range(0, 3, 1):
  print(i)

0
1
2

In [6]:
# 8393 (1) : 반복문 사용

In [9]:
a = int(input())
sum = 0
for i in range(1, a+1) :
  sum += i

print(sum)

3
6

In [10]:
# 8393 (2) : 반복문 사용 X -> 1부터 n까지의 합을 구하는 공식을 이용

In [11]:
a = int(input())
sum = a * (a + 1) / 2
print(sum)

3
6.0

In [12]:
type(sum) #6.0 : 소수점

float

In [13]:
a = int(input())
sum = a * (a + 1) / 2
print(int(sum)) #강제 형변환 ; 컴퓨터가 임의로 형을 바꿨을 때, 코더가 원하는 형으로 바꾸는 것.

3
6

In [14]:
# 1000 # 한 줄에 두 수를 모두 나타내야.

input() 특징
1. 한 줄 전체를 입력받음
2. str형으로 입력받음

In [15]:
a = int(input()) #여기서 1 2를 입력하면 사이의 공백은 int가 아니기 때문에 오류. -> space bar를 기준으로 왼, 오 나누기. (책 p.611)

1 2

ValueError: ignored

input().split(구분자) -> 한 줄에 여러 개의 정수가 떨어져 있을 떄 list로 입력받는 방법 -> 구분자 => 문제점 : str로 받음.

In [17]:
print(a)

['1', '2']

In [16]:
# p.611
a = input().split(' ')

1 2

In [18]:
type(a)

list

str로 받는 문제점 해결 -> map(자료형, 데이터)

In [20]:
a, b = map(int, input().split(' '))

print(a)
print(b)
print(type(a))
print(type(b))
print(a + b)

3 5
3
5
<class 'int'>
<class 'int'>
8

* 한 줄에 정수를 여러개 입력받는데
  1. 정수들이 ' '로 구분되어 있고
  2. 입력받는 정수의 개수를 알 경우.

In [22]:
# 1000번 최종

a, b = map(int, input().split(' '))
print(a + b)

1 2
3

* 한 줄에 정수를 여러개 입력받는데
  1. 정수들이 ' '로 구분되어 있고
  2. 입력받는 정수의 개수 -> 너무 많아서 모를 경우 or 개수가 가변적일 경우

* list ?
  1. 여러개의 정수를 하나로 묶어 입력받기 위한 방법
  2. l = [ ] or l = [1, 2, 3]
  3. 리스트에서 각 요소에 접근할 떄
    ex) lis = [1, 2, 3]
        lis[0] #lis에서 첫번째 위치 **(0부터 시작. 위치는 index라고도 한다.)**

In [23]:
l = [int(x) for x in input().split()]

1 2 3 4 5

* for문의 다른 형태 ; 시험에는 안나오겠지만 실생활.
  1. for 변수 in 순회할 리스트 이용
    -> 변수 = 리스트[순서]

In [28]:
a = input().split()

937346 33628  91754 383 77 5638

In [29]:
print(a)

['937346', '33628', '91754', '383', '77', '5638']

In [30]:
for x in a :
  print(x)

937346
33628
91754
383
77
5638

In [33]:
# 1000번 문제 다시 풀어보기
l = [int(x) for x in input().split()] #input().split()과 input().split(' ')은 동일

sum = 0
for x in l :
  sum += x

print(sum)

1 2
3

In [34]:
# 1330번

In [35]:
a, b = map(int, input().split(' '))

if a > b:
  print (">")
elif a< b:
  print ("<")
else:
  print("==")

26 837
<

In [48]:
# 15953 : kakao

In [37]:
T = int(input())

6

In [38]:
print(T)

6

In [47]:
T = int(input())

for i in range(0, T, 1): #보통은 index 순서도 0부터 시작하기 때문에 for문도 0으로 쓰곤 함.
  a, b = map(int, input().split(' '))

  sum = 0
  if a == 0:     #진출하지 못한 경우
    sum += 0
  elif a == 1:
    sum += 500
  elif a < 4:     #1인 경우 등, 앞에서 해결했다면 뒤에서 적용 안됨.
    sum += 300
  elif a < 7:
    sum += 200
  elif a < 11:
    sum += 50
  elif a < 16:
    sum += 30
  elif a < 22:
    sum += 10
  else:
    sum += 0

  if b == 0:
    sum += 0
  elif b == 1:
    sum += 512
  elif b < 4:
    sum += 256
  elif b < 8:
    sum += 128
  elif b < 16:
    sum += 64
  elif b < 32:
    sum += 32
  else:
    sum += 0

  print(sum * 10000)

6
8 4
1780000
13 19
620000
8 10
1140000
18 18
420000
8 25
820000
13 16
620000

In [50]:
# while을 사용하기

# for i in range()
# for i in 리스트

# 위가 아닐 경우 사용.

조건 1을 만족하지 않아도 조건2가 만족되면 바로 while문을 벗어난다.

while 조건1:

  if 조건2:

    break

In [54]:
# 무한 루프를 쓰지 않은 코드

a = 1
b = 1

while a != 0 and b != 0:
  a, b = map(int, input().split(' '))
  if a !=0 and b != 0:
    print(a+b)

0 0

In [52]:
# 무한 루프를 사용한 코드

while True:
  a, b = map(int, input().split(' '))
  if a != 0 and b != 0:
    print(a+b)
  else:
    break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0